li {
   list-style-type: none;
 }
a:link{
   text-decoration: none;
}

.btn-link:hover{
   text-decoration: none;
}
.btn-link:focus {
   outline: none !important;
   box-shadow: none;
   text-decoration: none;
 }

.texto-collapse{
   font-family: 'Roboto', sans-serif;
   color: rgb(5, 5, 5);
}

.card-header:hover{
   background-color: rgba(57, 116, 227, 0.5);
}

.card-header:target{
   background-color: rgba(57, 116, 227, 0.5);
}

   .colu-collapse{
      background-color: rgba(196, 196, 196, 0.5);
   }

   .colu-collapse:hover{
      background-color: rgba(60, 119, 223, 0.75);
   }

   .colu-collapse:active{
      background-color: rgba(60, 119, 223, 0.75);
   }

   .texto-aula{
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      color: black;
      margin-left: 2%;
   }

   .texto-aula:hover{
      color: black;
   } 
   #exampleCheck1:checked ~ .colu-collapse{
      background-color: palevioletred;
   }  

 /* font-family: 'archivo';
    font-weight:
    font-size:
    font-style:;