  
  .navbar{
    background-color:  #FFFFFF
  
  }
  .cabecalho{
    font-family: 'Archivo', sans-serif;
    color: rgb(10, 10, 10);
  }
  .bot{
    color: #171519;
    font-family: 'Archivo', sans-serif;
    margin-right: 70px;
  }
  .btn-primary  {
    color: #fff;
    background-color: black !important; 
    font-family: 'Archivo', sans-serif;
    height: 34px;
    width: 100px;
    margin-right: 20px;
    border: #FFFFFF;
  }

  #test:hover{
    color: black
  }

  .btn-primary:hover{
    background-color: #ffa500 !important; 
  }
  .btn-primary > li.active > a, .btn-primary > li.active > a:hover, .btn-primary > li.active > a:focus{
    background-color: black;
  }

  .titulo{
    color:#5e207591;
    font-family: 'Archivo';
    font-weight: 600;
    font-style: italic;
    margin-top: 9%;
    margin-bottom: 4%;
  }
  .colu .titulo > a:hover{
    color: #5E2075;
  }

  .sub{
    color: rgba(2, 2, 2, 0.473);
    font-family: 'Archivo';
    font-weight: 600;
    font-style: italic;
    margin-left: ;
  }
  a:link { 
    text-decoration:none; 
  } 

 /* font-family: 'archivo';
    font-weight:
    font-syze:
    font-style:;
    